{{ kernel_version_string.stdout }}
  _    _           _      
 | |  | |         | |     
 | |__| |_   _ ___| |__   
 |  __  | | | / __| '_ \  
 | |  | | |_| \__ \ | | | 
 |_|  |_|\__,_|___/_| |_| 

Hostname: {{ ansible_fqdn }}
IP address: {{ ansible_default_ipv4.address }}

